.home header {
  background-color: #8888ff; /* color morado claro */
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home h1 {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
}

.home nav {
  display: flex;
  gap: 2rem;
}

.home nav a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s;
}

.home nav a:hover {
  color: #e0e0ff;
}
.metodos {
  cursor: pointer;
}