.home header {
  background-color: #8888ff; /* color morado claro */
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 20px 20px;
}

.home h1 {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
}

.home nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}


.home nav a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s;
}

.home nav a:hover {
  color: #e0e0ff;
}
.metodos {
  cursor: pointer;
}

.hamburguer {
  display: none;
  cursor: pointer;
  flex-direction: column;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

@media (max-width: 768px) {
  .home header {
    display: flex;
  }
  
  .home nav ul {
    align-items: center;
    padding: 0;
  }

  .home nav a {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #8888ff;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    display: none;
  }

  .hamburguer {
    display: flex;
    justify-content: center;
  }

  .nav-links.show {
    display: flex;
  }



  
}