.home header {
  background-color: #8888ff; /* color morado claro */
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 20px 20px;
}

.home h1 {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
}

.home nav {
  display: flex;
  gap: 2rem;
}

.home nav a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s;
}

.home nav a:hover {
  color: #e0e0ff;
}
.metodos {
  cursor: pointer;
}

@media (max-width: 768px) {
  .home header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .home nav {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
  }

  .home nav a {
    width: 100%;
    padding: 0.5rem 0;
  }
}